.guestbook-workflow-1-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  & > .layout-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;

    & > .icon {
      width: 46px;
      height: 46px;
      background-color: gray;
      margin-bottom: 8px;
    }

    & > .title {
      text-align: center;
      font-size: 16px;
    }
  }

  & > .btn {
    width: 320px;
    height: 49px;
    margin-bottom: 65px;
    background-color: #CBB5E6;
    color: white;
  }
}
