.top-bar {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: white;
  position: relative;

  & > .back-btn {
    position: absolute;
    left: 0;
    font-size: 36px;
    margin-left: 12px;
  }
}