.ticket-tab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  background-color: #F1F1F1;

  & > .main-ticket-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & > .used-ticket-container {
    display: flex;
    flex-direction: row;
    height: 140px;
    justify-content: space-between;

    & > .used-ticket {
      width: 109px;
      height: 139px;
      background-color: #ebe8e8;
      color: #c6c4c4;
      text-align: center;
      font-size: 16px;
      padding-top: 20px;
    }
  }
}
