body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$DIVIER_COLOR: #dddddd;

.border-top {
  border-top: 1px solid $DIVIER_COLOR;
}

.border-bottom {
  border-bottom: 1px solid $DIVIER_COLOR;
}

.ant-page-header {
  border-bottom: 1px solid $DIVIER_COLOR;
}

#root {
  height: 100%;
}